/*ESTILOS COMUNS*/
/*BARRA MENU*/

@font-face{

font-family: "MostraNuova";
src: url("Fontes/MostraNuova/MostraNuova.otf");

}

@font-face{

font-family: "Roboto";
src: url("Fontes/Roboto/Roboto-Regular.otf");

}

.menu{
	height: 120px;
	background-color: #f9c411;
}

/*BARRA MENU*/
.navbar{
	height: 120px;
	background-color: #fff;
	font-family: 'MostraNuova';
}

/*COR BOTÃO MENU*/
.nav-link{
	color: #505050;
}	

/*HOVER BOTÕES MENU*/
.menu-hover:hover{
	border-top: solid; 
	border-bottom: solid;
	border-width: 1px;
	border-color: #2b80e6;
	color: #505050;
	
}

/*LOGOTIPO*/
.logo{
	height: 120px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

/*REDES SOCIAIS*/
.redes{
	height: 25px;

}
/*FAIXA AMARELA*/
.faixa{
	height: 60px;
	background-color: #f9c411;
	font-family: 'MostraNuova';
	font-weight: 50px;
	color: #fff;
	display: flex;
}

/*TEXTO FAIXA*/
.txt-faixa{	
	font-size: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cor-amarelo{
	background-color: #f9c411;
}

.tracinho_esq{
	position: absolute;
	right: -250px;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.tracinho_dir{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: -250px;
	margin: auto;
}

/*ESTILOS HOME*/
/*CARROSSEL*/
.carousel-item{
	height: 600px;
}

.faixa-res{
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	height: 120px;
	background-color: #f9c411;

}

.chef-img{
	position: absolute;
	left: 0;
	height: 120px;
}

.res-txt{
	display: flex;
	text-align: center;
	flex-direction: column;
}

.reservahome{
	font-family: 'MostraNuova';
	color: #fff;
	font-size: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn-res{
	display: inline-block;
    font-weight: 400;
    text-align: center;   
    vertical-align: middle;
    user-select: none;
    border: 1px solid #f9c411;
    padding: .75rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #505050;
    background-color: #f9c411;
}
/* COLUNA TEXTO SOBRE NÓS*/
#txt-nos{
	height: 500px;
	background-color: #f9c411;
}

/*TEXTO SOBRE NÓS*/
.texto-nos{
	font-family: 'Roboto';
	margin: 100px;
	text-align: justify;
	background-color: #f9c411;
	padding: 20px 20px 50px 20px;
}

/* COL IMAGEM RESTAURANTE*/
#img-nos{
	height: 500px;
	background-color: #248a47;
}

/*IMAGEM RESTAURANTE*/
.restaurante{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

/*RODAPÉ*/
.rodape{
	height: 70px;
	background-color: #248a47;
	color: #fff;
	font-family: 'Roboto';
}

/*COLUNA 2020*/
.col-ano{
	height: 120px;
	display: flex;
}

/*TEXTO 2020*/
.txt-ano{
	font-family: 'Roboto';
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*COLUNA DEVS*/
.col-dev{
	height: 20px;
	display: flex;
}

/*TEXTO DEVS*/
.txt-dev{
	font-family: 'Roboto';
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*COLUNA BOTÕES CARDÁPIO*/
.bts{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

/*BOTÕES CARDÁPIO*/
.btn-sel{
	display: inline-block;
    font-weight: 400;
    text-align: center;   
    vertical-align: middle;
    user-select: none;
    border: 1px solid #2b80e6;
    padding: .75rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #505050;
    margin-left: 30px;
    background-color: #fff;
}

/*HOVER BOTÕES CARDÁPIO*/
.btn-sel:hover{
	border: 1px solid #2b80e6;
	background-color: #efffff;
	color: #505050;
	text-decoration: none;
}
/*BOTÃO CARDÁPIO DESATIVADO*/
.disabled{
	border: solid 1px #2b80e6;
	background-color: #2b80e6;
	color: #fff;
	pointer-events: none;
}

/*CARDS*/
.card{
	text-align: center;
	margin-bottom: 30px;
}

.card-img-top{
	height: 200px;
}

.card-title{
	font-family: 'MostraNuova';
	font-weight: 450;
}

.card:hover .card-body{
	background-color: #fbfbfb;
	

}

.card-text{
	font-family: 'MostraNuova';
	margin-bottom: 0px;
}

/*BOTÃO CARRINHO*/
.efeito{
	font-family: mostra nuova;
    border-color: #248a47;
    color: #505050;
    padding: 6 12 6 12;
    margin: 10px;
    border-radius: 100px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 150ms ease;
}
.btn-carrinho{
	font-family: 'MostraNuova';
	background-color: #fff;
	color: #505050;
	padding: 6	12	6	12;
	border-radius: 100px;
	border: 1px solid #248a47;
}

.btn-carrinho{
    background-color: #fff;
    transform-style: preserve-3d;
}

.btn-carrinho:after {
    top: -100%;
    left: 0px;
    width: 100%;
    padding: 6 12 6 12;
    position: absolute;
    color: #fff;
    background-color: #248a47;
    border: 1px solid #248a47;
    border-radius: 100px;
    box-sizing: border-box;
    content: 'ADICIONAR';
    transform-origin: left bottom;
    transform: rotateX(90deg);
}

.btn-carrinho:hover{
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);

} 

.col-pgt{
	padding: 40px;
	padding: 40px;
	background-color: #248a47;
	display: flex;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;

}
.pgt{
	display: flex;
	height: 40px;
	left: 0;
	right: 0;
	margin: auto;
}

.faixa-pgt{
	height: 60px;
	background-color: #248a47;
	font-family: 'MostraNuova';
	color: #fff;
	display: flex;
}

.txt-pgt{
	font-size: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*ESTILOS PAGINA CONTATO*/
/*NÚMEROS PARA CONTATOS*/
#telefone{
	text-align: center;
	font-family: 'Roboto';
	color: grey;
	font-size: 25px;

}

/*FORMULÁRIO*/
#form{
	background-color: none;
	border: 4px solid #2B80E6;
	margin: 60px 120px 60px 120px;
	padding: 15px;
}

input[type=text]{
	width: 98%;
	padding: 5px;
	margin: 8px 8px 10px 8px;
	border-radius: 8px;
	border-color: lightgrey;
}

input[id=Observacoes]{
	padding-bottom: 80px; 
}

input[type=email]{
	width: 48%;
	padding: 5px;
	margin: 8px 8px 10px 8px;
	border-radius: 8px;
	border-color: lightgrey;
}

input[type=telefone]{
	width: 48.8%;
	padding: 5px;
	/*margin: 8px 8px 10px 8px;*/
	border-radius: 8px;
	border-color: lightgrey;
}

input[type=date]{
	width: 48%;
	padding: 5px;
	margin: 8px 8px 10px 8px;
	border-radius: 8px;
	border-color: lightgrey;
	color: grey;
}

label[for=Idade]{
	padding-left: 15px;
	color: grey;
}

input[type=submit]{
	float: right;
	background-color: #2B80E6;
	border: none;
	border-radius: 6px;
	padding: 7px 34px;
	cursor: pointer;
	font-family: 'MostraNuova';
	color: white;
	font-size: 20px;
}

/*ESTILO HORARIO RESERVA*/
.horario{
	padding-right: 15px;
	padding-left: 15px;
}

.almoco{
	padding: 10px;
	margin: 0px 8px 10px 8px;
	border-top: 2px solid grey;
	border-left: 2px solid grey;
	border-bottom: 2px solid lightgrey;
	border-right: 2px solid lightgrey;
	border-radius: 6px;
	width: 48%;
}

.jantar{
	padding: 10px;
	margin: 0px 0px 10px 8px;
	border-top: 2px solid grey;
	border-left: 2px solid grey;
	border-bottom: 2px solid lightgrey;
	border-right: 2px solid lightgrey;
	border-radius: 6px;
	width: 48%;
}

input[type="radio"]{
	font-family: 'MostraNuova';
	width: 50px;
	height: 25px;
	margin-left: 45px;
	
}

input[type="radio"]::after{
	margin-left: 10px;
	width: 50px;
	height: 30px;
	border-radius: 100px;
	border: 1px solid #2b80e6;
	box-sizing: border-box;
	background-color: #fff;
	content: attr(value);
	display: block;
	text-align: center;
	line-height: 30px;
	color: #505050;
	cursor: pointer;
}

input[type="radio"]:hover::after{
	background-color: #efffff;
	color: #505050;
}

input[type="radio"]:checked::after{
	background-color: #2b80e6;
	color: #fff;
}
label[for=genero]{
	padding-left: 18px;
	color: grey;
}

label[for=Pais]{
	padding-left: 18px;
	color: grey;
}

select, option{
	color: grey;
	width: 66%;
	margin: 5px;
	padding: 5px;

}

.pg-cdp{
	padding-bottom: 50px;
}

#adc_iten{
	border: solid 1px #2b80e6;
	background-color: #2b80e6;
	color: #fff;
	/*pointer-events: none;*/
}

/*ESTILOS BR-ENTREGA*/
/*Espaço onde será colocado o conteúdo do miolo*/
.entrega{
	height: 900px;
	background-color: none;
}

#bt-azul{
	display: inline-block;
    font-weight: 400;
    text-align: center;   
    vertical-align: middle;
    user-select: none;
    border: 1px solid #2b80e6;
    padding: .75rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 1rem;
    color: #fff;
    background-color: #2b80e6;
}

#bt-azul:hover{
	border: 1px solid #2b80e6;
	background-color: #ffffff;
	color: #2b80e6;
	text-decoration: none;
}

.qb{
	height: 655px;
}

.qb_adc{
	height: 790px;
}

/*Para mexer nos textos das DUAS COLUNAS*/
.br-txt{
	text-align: center;
	font-size: 25px;
	font-family: 'Roboto';
	color: #41AB6F;
}

/*LADO ESQUERDO*/
/*Para criar uma borda e centralizar o conteúdo*/
.ja-disp{
	/*Para mexer nos números*/
	text-align: center;
	font-size: 25px;
	font-family: 'Roboto';
	/*Para adicionar e mexer na borda*/
	border: 2px solid #2B80E6;
	padding-top: 120px;
	padding-bottom: 120px;
	margin-top: 100px;
	margin-left: 25px;
	margin-right: 25px;
}
.lado-esq{
	padding-inline-start: 0;
}

/*Para alinhar os ícones de telefone com os números*/
.tel{
/*	vertical-align: middle;*/
	/*Para tirar a marcação da lista*/
	display: block;
}
.tel2{
	display: inline-block;
}

/*Para alterar o tamanho dos ícones*/
.nume{
	width: 28px;
}

/*Para mexer nos títulos*/
h4{
	text-align: center;
	font-size: 25px;
	font-family: 'MostraNuova';
	color: #FFFFFF;
	padding-top: 5px;
}

/*TÍTULOS SEPARADOS*/
.br-tit{
	background-color: #41AB6F;
	margin-top: 14.25%;
	height: 40px;
}

.br-tit2{
	background-color: #41AB6F;
	margin-top: 5%;
	height: 40px;
	width: 400px;
}

.br-tit3{
	background-color: #41AB6F;
	margin-top: 15%;
	height: 40px;
	width: 400px;

}

/*LADO DIREITO*/
/*Para alterar o tamanho do CARRINHO DE DELIVERY e centraliza-lo*/
img.displayed{
	width: 150px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

/*Para mexer no BOTÃO "adicionar item"*/
.botao{
	font-family: 'Roboto';
	font-size: 20px;
	margin: 10px;
	background-color: #2B80E6;
	border-radius: 6px;
	/*Fundo do botão*/
	padding: 10px 10px;
	color: white;
}

.b-pagar{
	border: solid 1px #2b80e6;
	background-color: #2b80e6;
	color: #fff;
	pointer-events: none;
}

/*BRASILEIRINHO_INFO_ENTREGA*/
/*Para MEXER na BORDA do formulário do usuário*/
.form{
	text-align: center;
	border: 2px solid #2B80E6;
	margin-top: 100px;
	margin-left: 20px;
	margin-right: 20px;
}

/*Formulário do cartão*/
.form2{
	text-align: center;
	border: 2px solid #2B80E6;
	padding-top: center;
	padding-bottom: center;
	margin-top: 100px;
	margin-left: 20px;
	margin-right: 20px;
}

/*Para alterar a POSIÇÃO dos BOTÕES "Voltar" e "Finalizar"*/
.nav-br_info_botoes{
	margin: 8px 0 0 400px;
	/*top, right, bottom, left*/
}

/*Para ALTERAR os BOTÕES: "Voltar" e "Finalizar"*/
li .bot-txt{
	/*Tamanho da letra*/
	font-size: 20px;
	/*Fonte da letra*/
	font-family: 'MostraNuova';
	/*Cor da letra*/
	color: white;
	/*Espaçamento externo entre os botões*/
	margin-left: 15px;
	/*Cor do fundo dos botões*/
	background-color: #2B80E6;
	/*Fundo Arredondado*/
	border-radius: 6px;
	/*Espaçamento interno do fundo*/
	padding: 10px 10px;
	
}

#bt3-azul{
	display: inline-block;
    font-weight: 400;
    text-align: center;   
    vertical-align: middle;
    user-select: none;
    border: 1px solid #2b80e6;
    padding: .75rem 1.5rem;
    margin-left: -20px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    border-radius: 1rem;
    color: #fff;
    background-color: #2b80e6;
}

#bt3-azul:hover{
	border: 1px solid #2b80e6;
	background-color: #ffffff;
	color: #2b80e6;
	text-decoration: none;
}

.finalizar{
	width: 21%;
	margin: 10px 0;
}

.voltarinfo{
	margin: 100px 0;
}

/*CARRINHO DE COMPRAS*/
/*Para alterar a FRASE ACIMA do item adicionado*/
.adc-ao{
	margin-left: 170px;
	font-family: 'Roboto';
	padding-bottom: 150px;
	color: #2B80E6;
	font-size: 23px;
}

/*Para mexer na borda pontilhada*/
.iten-adc{
	padding-left: 280px;
	border-style: dashed;
	border-color: #2B80E6;
	border-radius: 10px;
	padding-top: 30px;
	padding-bottom: 145px;
	margin-top: 75px;
	margin-right: 55px;
	margin-left: 55px;
}

/*Para alinhar o ícone do prato com o nome da comida*/
.prt{
	font-family: 'MostraNuova';
	vertical-align: middle;
	display: block;
}

/*Para alterar o tamanho do ícone do parto*/
.cmd{
	width: 70px;
}

/*Para deixar ALINHADO o PRATO/FEIJOADA com o PREÇO*/
.iten1{
	display: inline;
}

.nav-etr{
	text-align: center;
	margin-left: 1180px;
}

#compra-paga{
	text-align: center;
	font-size: 25px;
	font-family: 'Roboto';
	color: #41AB6F;
	border: 2px solid #2B80E6;
	width: 400px;
	margin-top: 200px;
}

#bt2-azul{
	display: inline-block;
    font-weight: 400;
    text-align: center;   
    vertical-align: middle;
    user-select: none;
    border: 1px solid #2b80e6;
    padding: .75rem 1.5rem;
    margin-left: -20px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    border-radius: 1rem;
    color: #fff;
    background-color: #2b80e6;
}

#bt2-azul:hover{
	border: 1px solid #2b80e6;
	background-color: #ffffff;
	color: #2b80e6;
	text-decoration: none;
}

#grid-cdp{
	background-image: url(Br.img/grid.png);
}

.qb3{
	height: 325px;
}

html{
	scroll-behavior: smooth;
}



.faixapg{
	height: 60px;
	background-color: #f9c411;
	font-family: 'MostraNuova';
	font-weight: 50px;
	color: #fff;
	display: flex;
}

/*Espaço em branco*/
.reservahome{
	font-family: 'MostraNuova';
	font-size: 20px;
	color: white;
	margin-top: 50px;
	padding-left: 250px;
}

#bt-cliqueaqui{
	margin-left: 1000px;
	padding: .75rem 1.5rem;
	border: 1px solid #2b80e6;
	font-size: 1.2rem;
	border-radius: 1rem;
	color: #fff;
    background-color: #2b80e6;

}
#bt-cliqueaqui:hover{
	border: 1px solid #2b80e6;
	background-color: #ffffff;
	color: #2b80e6;
	text-decoration: none;
}

/*margin-left: 1000px;
	margin-bottom: 6000px;
	display: inline-block;
    font-weight: 400;
    text-align: center;   
    vertical-align: middle;
    user-select: none;
    border: 1px solid #2b80e6;
    padding: .75rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 1rem;
    color: #fff;
    background-color: #2b80e6;