/*ESTILOS COMUNS*/
/*BARRA MENU*/
.menu{
	height: 120px;
}

/*BARRA MENU*/
.navbar{
	height: 120px;
	background-color: #fff;
	font-family: mostra nuova;
}

/*COR BOTÃO MENU*/
.nav-link{
	color: #505050;
}	

/*HOVER BOTÕES MENU*/
.menu-hover:hover{
	border-top: solid; 
	border-bottom: solid;
	border-width: 1px;
	border-color: #2b80e6;
	color: #505050;
	
}

/*LOGOTIPO*/
.logo{
	height: 120px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

/*REDES SOCIAIS*/
.redes{
	height: 25px;

}
/*FAIXA AMARELA*/
.faixa{
	height: 60px;
	background-color: #f9c411;
	font-family: mostra nuova;
	font-weight: 50px;
	color: #fff;
	display: flex;
}

/*TEXTO FAIXA*/
.txt-faixa{	
	font-size: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*ESTILOS HOME*/
/*CARROSSEL*/
.carousel-item{
	height: 600px;
}

/* COLUNA TEXTO SOBRE NÓS*/
#txt-nos{
	height: 500px;
	background-color: #f9c411;
}

/*TEXTO SOBRE NÓS*/
.texto-nos{
	font-family: roboto;
	margin: 100px;
	text-align: justify;
	background-color: #f9c411;
	padding: 20px 20px 50px 20px;
}

/* COL IMAGEM RESTAURANTE*/
#img-nos{
	height: 500px;
	background-color: #248a47;
}

/*IMAGEM RESTAURANTE*/
.restaurante{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

/*RODAPÉ*/
.rodape{
	height: 120px;
	background-color: #248a47;
	color: #fff;
	font-family: roboto;
}

/*COLUNA 2020*/
.col-ano{
	height: 120px;
	display: flex;
}

/*TEXTO 2020*/
.txt-ano{
	font-family: roboto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*COLUNA DEVS*/
.col-dev{
	height: 120px;
	display: flex;
}

/*TEXTO DEVS*/
.txt-dev{
	font-family: roboto;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*COLUNA BOTÕES CARDÁPIO*/
.bts{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

/*BOTÕES CARDÁPIO*/
.btn-sel{
	display: inline-block;
    font-weight: 400;
    text-align: center;   
    vertical-align: middle;
    user-select: none;
    border: 1px solid #2b80e6;
    padding: .75rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #505050;
    margin-left: 30px;
    background-color: #fff;
}

/*HOVER BOTÕES CARDÁPIO*/
.btn-sel:hover{
	border: 1px solid #2b80e6;
	background-color: #efffff;
	color: #505050;
	text-decoration: none;
}
/*BOTÃO CARDÁPIO DESATIVADO*/
.disabled{
	border: solid 1px #2b80e6;
	background-color: #2b80e6;
	color: #fff;
	pointer-events: none;
}

/*CARDS*/
.card{
	margin-bottom: 30px;
	background-color: pink;
}

.card-img-top{
	height: 200px;
}

.col-pgt{
	padding: 40px;
	padding: 40px;
	background-color: #248a47;
	display: flex;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;

}
.pgt{
	display: flex;
	height: 40px;
	left: 0;
	right: 0;
	margin: auto;
}

.faixa-pgt{
	height: 60px;
	background-color: #248a47;
	font-family: mostra nuova;
	color: #fff;
	display: flex;
}

.txt-pgt{
	font-size: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*ESTILOS PAGINA CONTATO*/
/*NÚMEROS PARA CONTATOS*/
#telefone{
	text-align: center;
	font-family: roboto;
	color: grey;
	font-size: 25px;
}

/*FORMULÁRIO*/
#form{
	background-color: none;
	border: 4px solid #2B80E6;
	margin: 60px 120px 60px 120px;
	padding: 15px;
}

input[type=text]{
	width: 98%;
	padding: 5px;
	margin: 8px 8px 10px 8px;
	border-radius: 8px;
	border-color: lightgrey;
}

input[id=Observacoes]{
	padding-bottom: 80px; 
}

input[type=email]{
	width: 98%;
	padding: 5px;
	margin: 8px 8px 10px 8px;
	border-radius: 8px;
	border-color: lightgrey;
}

input[type=telefone]{
	width: 98%;
	padding: 5px;
	margin: 8px 8px 10px 8px;
	border-radius: 8px;
	border-color: lightgrey;
}

input[type=date]{
	width: 98%;
	padding: 5px;
	margin: 8px 8px 10px 8px;
	border-radius: 8px;
	border-color: lightgrey;
	color: grey;
}

input[type=submit]{
	float: right;
	background-color: #2B80E6;
	border: none;
	border-radius: 6px;
	padding: 7px 34px;
	cursor: pointer;
	font-family: mostra nuova;
	color: white;
	font-size: 20px;
}

.pg-cdp{
	padding-bottom: 50px;
}

.qq::after {
  content: "→";
}


