/*ESTILOS COMUNS*/
/*BARRA MENU*/
.menu{
	height: 120px;
}

/*BARRA MENU*/
.navbar{
	height: 120px;
	background-color: #fff;
	font-family: mostra nuova;
}

/*COR BOTÃO MENU*/
.nav-link{
	color: #505050;
}	

/*HOVER BOTÕES MENU*/
.menu-hover:hover{
	border-top: solid; 
	border-bottom: solid;
	border-width: 1px;
	border-color: #2b80e6;
	color: #505050;
	
}

/*LOGOTIPO*/
.logo{
	height: 120px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

/*REDES SOCIAIS*/
.redes{
	height: 25px;

}
/*FAIXA AMARELA*/
.faixa{
	height: 60px;
	background-color: #f9c411;
	font-family: mostra nuova;
	font-weight: 50px;
	color: #fff;
	display: flex;
}

/*TEXTO FAIXA*/
.txt-faixa{	
	font-size: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*ESTILOS HOME*/
/*CARROSSEL*/
.carousel-item{
	height: 600px;
}

/* COLUNA TEXTO SOBRE NÓS*/
#txt-nos{
	height: 500px;
	background-color: #f9c411;
}

/*TEXTO SOBRE NÓS*/
.texto-nos{
	font-family: roboto;
	margin: 100px;
	text-align: justify;
	background-color: #f9c411;
	padding: 20px 20px 50px 20px;
}

/* COL IMAGEM RESTAURANTE*/
#img-nos{
	height: 500px;
	background-color: #248a47;
}

/*IMAGEM RESTAURANTE*/
.restaurante{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

/*RODAPÉ*/
.rodape{
	height: 120px;
	background-color: #248a47;
	color: #fff;
	font-family: roboto;
}

/*COLUNA 2020*/
.col-ano{
	height: 120px;
	display: flex;
}

/*TEXTO 2020*/
.txt-ano{
	font-family: roboto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*COLUNA DEVS*/
.col-dev{
	height: 120px;
	display: flex;
}

/*TEXTO DEVS*/
.txt-dev{
	font-family: roboto;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*COLUNA BOTÕES CARDÁPIO*/
.bts{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

/*BOTÕES CARDÁPIO*/
.btn-sel{
	display: inline-block;
    font-weight: 400;
    text-align: center;   
    vertical-align: middle;
    user-select: none;
    border: 1px solid #2b80e6;
    padding: .75rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #505050;
    margin-left: 30px;
    background-color: #fff;
}

/*HOVER BOTÕES CARDÁPIO*/
.btn-sel:hover{
	border: 1px solid #2b80e6;
	background-color: #efffff;
	color: #505050;
	text-decoration: none;
}
/*BOTÃO CARDÁPIO DESATIVADO*/
.disabled{
	border: solid 1px #2b80e6;
	background-color: #2b80e6;
	color: #fff;
	pointer-events: none;
}

/*CARDS*/
.card{
	margin-bottom: 30px;
}

.card-img-top{
	height: 200px;
}

.col-pgt{
	padding: 40px;
	padding: 40px;
	background-color: #248a47;
	display: flex;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;

}
.pgt{
	display: flex;
	height: 40px;
	left: 0;
	right: 0;
	margin: auto;
}

.faixa-pgt{
	height: 60px;
	background-color: #248a47;
	font-family: mostra nuova;
	color: #fff;
	display: flex;
}

.txt-pgt{
	font-size: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*ESTILOS PAGINA CONTATO*/
/*NÚMEROS PARA CONTATOS*/
#telefone{
	text-align: center;
	font-family: roboto;
	color: grey;
	font-size: 25px;
}

/*FORMULÁRIO*/
#form{
	background-color: none;
	border: 4px solid #2B80E6;
	margin: 60px 120px 60px 120px;
	padding: 15px;
}

input[type=text]{
	width: 98%;
	padding: 5px;
	margin: 8px 8px 10px 8px;
	border-radius: 8px;
	border-color: lightgrey;
}

input[id=Observacoes]{
	padding-bottom: 80px; 
}

input[type=email]{
	width: 98%;
	padding: 5px;
	margin: 8px 8px 10px 8px;
	border-radius: 8px;
	border-color: lightgrey;
}

input[type=telefone]{
	width: 98%;
	padding: 5px;
	margin: 8px 8px 10px 8px;
	border-radius: 8px;
	border-color: lightgrey;
}

input[type=date]{
	width: 98%;
	padding: 5px;
	margin: 8px 8px 10px 8px;
	border-radius: 8px;
	border-color: lightgrey;
	color: grey;
}

input[type=submit]{
	float: right;
	background-color: #2B80E6;
	border: none;
	border-radius: 6px;
	padding: 7px 34px;
	cursor: pointer;
	font-family: mostra nuova;
	color: white;
	font-size: 20px;
}

.pg-cdp{
	padding-bottom: 50px;
}

.qq::after {
  content: "→";
}

<<<<<<< HEAD
/*PÁGINAS BR-ENTREGA*/
/*Espaço onde será colocado o conteúdo do miolo*/
.entrega{
	height: 900px;
	background-color: none;
}

/*Para mexer nos textos das DUAS COLUNAS*/
.br-txt{
	text-align: center;
	font-size: 25px;
	font-family: Roboto;
	color: #41AB6F;
}

/*LADO ESQUERDO*/
/*Para criar uma borda e centralizar o conteúdo*/
.ja-disp{
	/*Para mexer nos números*/
	text-align: center;
	font-size: 25px;
	font-family: Roboto;
	/*Para adicionar e mexer na borda*/
	border: 2px solid #2B80E6;
	padding-top: 250px;
	padding-bottom: 200px;
	margin-top: 100px;
	margin-left: 25px;
}

/*Para alinhar os ícones de telefone com os números*/
.tel{
	vertical-align: middle;
	/*Para tirar a marcação da lista*/
	display: block;
}

/*Para alterar o tamanho dos ícones*/
.nume{
	width: 28px;
}

/*Para mexer nos títu*/
h4{
	text-align: center;
	font-size: 25px;
	font-family: Mostra Nuova;
	color: #FFFFFF;
	padding-top: 5px;
}

/*LADO DIREITO*/
/*Para mexer no fundo do TÍTULO*/
.br-tit{
	background-color: #41AB6F;
	margin-top: 15.65%;
	height: 40px;
}
/*Para alterar o tamanho do CARRINHO DE DELIVERY e centraliza-lo*/
img.displayed{
	width: 150px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28%;
}

/*Para mexer no BOTÃO "adicionar item"*/
.botao{
	margin: 10px;
	background-color: #2B80E6;
	border: none;
	border-radius: 6px;
	padding: 5px 5px;
	font-family: Mostra Nuova;
	color: white;
}

/*BRASILEIRINHO_INFO_ENTREGA*/
/*Para MEXER na BORDA do formulário do usuário*/
.form{
	text-align: center;
	border: 2px solid #2B80E6;
	margin-top: 170px;
	margin-left: 20px;
	margin-right: 20px;
}

/*Formulário do cartão*/
.form2{
	text-align: center;
	border: 2px solid #2B80E6;
	padding-top: center;
	padding-bottom: center;
	margin-top: 190px;
	margin-left: 20px;
	margin-right: 20px;
}

/*Para alterar a POSIÇÃO dos BOTÕES "Voltar" e "Finalizar"*/
.nav-br_info_botoes{
	margin: 8px 0 0 432px;
}

/*Para ALTERAR os BOTÕES: "Voltar" e "Finalizar"*/
.bot-txt{
	/*Tamanho da letra*/
	font-size: 25px;
	/*Fonte da letra*/
	font-family: Mostra Nuova;
	/*Cor da letra*/
	color: white;
	/*Espaçamento externo entre os botões*/
	margin-left: 10px;
	/*Cor do fundo dos botões*/
	background-color: #2B80E6;
	/*Fundo Arredondado*/
	border-radius: 6px;
	/*Espaçamento interno do fundo*/
	padding: 5px 5px;
}

/*Para alterar a FRASE ACIMA do item adicionado*/
.adc-ao{
	margin-left: 230px;
	font-family: roboto;
}

/*Para mexer na borda pontilhada*/
.iten-adc{
	padding-left: 320px;
	border-style: dotted;
	border-color: #2B80E6;
	border-radius: 15px;
	padding-top: 145px;
	padding-bottom: 145px;
	margin-top: 140px;
	margin-left: 28px;
}

/*Para alinhar o ícone do prato com o nome da comida*/
.prt{
	font-family: Mostra Nuova;
	vertical-align: middle;
	display: block;
}

/*Para alterar o tamanho do ícone do parto*/
.cmd{
	width: 70px;
}

/*Para deixar ALINHADO o PRATO/FEIJOADA com o PREÇO*/
.iten1{
	display: inline;
=======
#grid-cdp{
	background-image: url(Br.img/grid.png);
>>>>>>> dd5e3a13dace952c5103ccf884c00cb098494a46
}


